<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div{
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <img>
        <h1 th:text="${lunch['name0']}"></h1>
    </div>
    <hr>
    <div>
        <img>
        <h4 th:text="${lunch['name1']}"></h4>
        <p>쌀밥<br>매생이떡국<br>데리야끼닭봉조림<br>계란옷소시지전<br>열무나물무침<br>맛김치</p>
    </div>
    <hr>
    <div>
        <img>
        <h4 th:text="${lunch['name2']}"></h4>
        <p>병아리콩밥<br>바지락순두부찌개<br>데리야끼닭봉조림<br>고구마아몬드맛탕<br>오이생채<br>깍두기</p>
    </div>
    <hr>
    <div>
        <img>
        <h4 th:text="${lunch['name3']}"></h4>
        <p>쌀밥<br>오징어뭇국<br>안동찜닭<br>메추리알어묵조림<br>배추쌈장나물<br>깍두기</p>
    </div>
    <hr>
    <div>
        <img>
        <h4 th:text="${lunch['name4']}"></h4>
        <p>소고기하이라이스<br>두부미소국<br>눈꽃치즈타코야끼<br>후랑크케찹볶음<br>천사채흑임자무침<br>맛김치</p>
    </div>
    <hr>
    <div>
        <img>
        <h4 th:text="${lunch['name5']}"></h4>
        <p>쌀밥<br>꼬치어묵우동<br>새우까스&머스타드<br>매콤신당동국물떡볶이<br>썬단무지<br>맛김치</p>
    </div>
    <hr>
    <div>
        <img>
        <h4 th:text="${lunch['name6']}"></h4>
        <p>쌀밥<br>얼큰쇠고기국밥<br>함박스테이크&소스<br>브로콜리깨소스무침<br>야채스틱&쌈장<br>깍두기</p>
    </div>
    <hr>
    <div>
        <img>
        <h4 th:text="${lunch['name7']}"></h4>
        <p>쌀밥<br>꽁치김치찌개<br>간장닭갈비<br>도토리묵&양념장<br>마늘쫑지<br>깍두기</p>
    </div>
    <hr>
</body>
</html>